<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
 
 <configuration>
   <typeAliases>
   		<!-- type = 풀패키지명, alias = 변수명 -->
  	 	<typeAlias type="com.sam.basic.member.MemberDto" alias="MemberDto"/>
  	 	
  	 	<typeAlias type="com.sam.basic.problem.ProblemDto" alias="ProblemDto"/>
	 	<typeAlias type="com.sam.basic.problem.ProblemImageDto" alias="ProblemImageDto"/>
	 	
	 	<typeAlias type="com.sam.basic.comment.CommentDto" alias="CommentDto"/>
	 	
  	 	<typeAlias type="com.sam.basic.util.Pager" alias="Pager"/>
  	 	<typeAlias type="java.lang.Integer" alias="Integer"/>
   </typeAliases>
 </configuration>